<footer class="footer">
  <small>
    2016
  </small>
  <nav navbar-nav pull-right>
    <ul>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="contact">Contact</li>
      <li><a ui-sref="news">News</a></li>
    </ul>
  </nav>
</footer>
