<table class="table table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Ticker</th>
      <th>Company Name</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="stock in stocks">
      <td></td>
      <td>{{stock.ticker}}</td>
      <td>{{stock.company}}</td>
      <td>{{stock.country}}</td>
    </tr>
  </tbody>
</table>
