<div id="main-unit" class="container">
  <div id="hero-unit" class="row">
    <div id="jumbo" class="col-xs-12 center jumbotron">
      <h1>Your Big break!</h1>

      <p>Don't follow the crowd. Invest smartly</p>

      <a ui-sref="register" class="btn btn-large btn-success">Get Started today</a>
    </div>
  </div>
  <div id="hero-unit" class="row"></div>
</div>
<div id="gutter" class="container" >
  <div id="services" class="row">
    <div id="service1" class="col-xs-4">
      <fieldset>We offer services in helping our subscribers make money from the stock market
        <a ui-sref="investment" class="btn btn-success">Read more<i class="glyphicon glyphicon-chevron-right"></i></a>
      </fieldset>
    </div>
    <div id="service2" class="col-xs-4">
      <button class="btn btn-success">Read more<i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
    <div id="service3" class="col-xs-4">
      <button class="btn btn-success">Read more<i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
  </div>
</div>
